# vscode

.cache/*
.vscode/*
.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix

# conan/cmake

build/*
CMakeUserPresets.json

# misc

*.xit